[submodule "V/OOP_V_term_paper/Chess"]
	path = V/OOP_V_term_paper/Chess
	url = git@github.com:MrAnderson1110/Chess.git
[submodule "IV/Kurs.SAOD.IV/CarRentalClientsBase"]
	path = IV/Kurs.SAOD.IV/CarRentalClientsBase
	url = git@github.com:MrAnderson1110/CarRentalClientsBase.git
[submodule "/home/mranderson/gitEducation/Education/III/Labs.CompGraphics.III/lab_4/OpenGL-Qt-exemple"]
	path = /home/mranderson/gitEducation/Education/III/Labs.CompGraphics.III/lab_4/OpenGL-Qt-exemple
	url = git@github.com:MrAnderson1110/OpenGL_Qt_Exemple.git
