[submodule "4/Kurs.SAOD.IV/CarRentalClientsBase"]
	path = 4/Kurs.SAOD.IV/CarRentalClientsBase
	url = b.com:MrAnderson1110/CarRentalClientsBase.git
[submodule "3/Labs.CompGraphics.III/lab_4/OpenGL_Qt_Exemple"]
	path = 3/Labs.CompGraphics.III/lab_4/OpenGL_Qt_Exemple
	url = git@github.com:MrAnderson1110/OpenGL_Qt_Exemple.git
[submodule "5/OOP_V_term_paper/Chess"]
	path = 5/OOP_V_term_paper/Chess
	url = git@github.com:MrAnderson1110/Chess.git
