table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: coral;
}

tr:hover {
    background-color: lightblue;
}

tr.odd {
    background-color: azure;
}

tr.even {
    background-color: beige;
}

#shedule-tab {
    margin-top: 15 px;
}